* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: "Poppins";
  header {
    height: 800px;
    background: linear-gradient(94.59deg, #4923b4 2.39%, #e878cf 97.66%);
    border-radius: 0px 0px 200px 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    position: relative;
    color: #fff;

    nav {
      width: 92%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 35px;
      display: flex;
      position: relative;
      justify-content: center;
      .logo {
        position: absolute;
        left: 0;
      }
      .list-heading {
        display: flex;
        gap: 30px;
        li {
          list-style: none;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
      .action {
        display: flex;
        position: absolute;
        right: 0;
        color: #fff;
        gap: 30px;
        .action-btn {
          display: flex;
          align-items: center;

          img {
            width: 23px;
            height: 23px;
            margin-right: 4px;
          }
        }
      }
    }
    .content-heading {
      width: 90%;
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
      .info {
        .sub-title {
          margin-top: 226px;
          .title {
            font-weight: 700;
            font-size: 60px;
            line-height: 80px;
          }
          .desc {
            width: 527px;
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            margin-bottom: 30px;
          }
          .action {
            display: flex;
            gap: 20px;
            .check-courses {
              width: 172px;
              height: 44px;
              background: #ff00c7;
              border-radius: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              a {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #fff;
                text-decoration: none;
              }
            }
            .learn-more {
              width: 172px;
              height: 44px;
              border: solid 1px #fff;
              border-radius: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              a {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #fff;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .companys {
    width: 74%;
    padding-top: 40px;
    margin: 0 auto 60px auto;
    .content {
      .title {
        text-align: center;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        letter-spacing: -0.002em;
        margin-bottom: 40px;
        color: #464747;
      }
      .list-company {
        list-style: none;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .courses {
    width: 80%;
    margin: 0 auto 60px auto;
    .content {
      .title {
        font-weight: 600;
        font-size: 44px;
        line-height: 62px;
        /* identical to box height, or 141% */
        letter-spacing: -0.002em;
        color: #000000;
        margin-bottom: 30px;
      }
      .list-fill {
        display: flex;
        list-style: none;
        gap: 30px;
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        /* identical to box height */
        text-align: center;
        letter-spacing: -0.002em;
        color: #787878;
      }
      .list-courses {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
        row-gap: 50px;
        .title-img {
          width: 100%;
        }
        .item-courses {
          // border: solid 0.5px #787878;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          border-radius: 16px;
          width: 23.7%;
          height: 470px;
          position: relative;
          .content-courses {
            padding: 18px;
            .type {
              padding: 7px 16px;
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              /* identical to box height */
              letter-spacing: -0.0024em;
              color: #666768;
              background: #eaeaea;
              border-radius: 7px;
            }
            .title-courses {
              margin-top: 13px;
              font-weight: 600;
              font-size: 15px;
              line-height: 22px;
              letter-spacing: -0.0024em;
              color: #000000;
            }
            .author {
              margin-top: 5px;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              /* identical to box height */
              letter-spacing: -0.0024em;
              color: #000000;
            }
            .rating {
              display: flex;
              .rating-point {
                margin-left: 6px;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                /* identical to box height */
                letter-spacing: -0.0024em;
                color: #000000;
              }
            }
            .action {
              position: absolute;
              width: 100%;
              bottom: 18px;
              display: flex;
              justify-content: space-between;
              .prince {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                /* identical to box height */
                letter-spacing: -0.0024em;
                color: #5027b5;
              }
              .btn-buy {
                position: absolute;
                right: 36px;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                padding: 6px 18px;
                /* identical to box height */
                letter-spacing: -0.0024em;
                color: #5027b5;
                background: none;
                border: solid 1px #5027b5;
                border-radius: 6px;
              }
            }
          }
        }
      }
    }
  }
}
